body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.rowBellowTheMiddle{
  position: fixed;
  left: 0; bottom: 300px;
  right: 0; bottom: 150px;
  text-align: center;
}

.rowMiddle{
  position: fixed;
  left: 0; bottom: 300px;
  right: 0; bottom: 150px;
  text-align: center;
}

.lines{
  margin-bottom: 80px;
}

.btn {
  padding: 50px 50px;
  font-size: 20px;
  border-radius: 10px;
  width:20%;
}

#bg {
  position:fixed;
  top:-50%;
  left:-50%;
  width:200%;
  height:200%;
}

#bg img {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:-120px;
  margin:auto;
  min-width:50%;
  min-height:50%;

}

#page-wrap {
  position: relative;
  z-index: 2;
  width: 200px;
  height:150px;
  margin: 100px 50px;
  padding: 20px;
  background: white;
  -moz-box-shadow: 0 0 20px black;
  -webkit-box-shadow: 0 0 20px black;
  box-shadow: 0 0 20px black; }



