body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.rowBellowTheMiddle{
  position: fixed;
  left: 0; bottom: 300px;
  right: 0; bottom: 150px;
  text-align: center;
}

.rowMiddle{
  position: fixed;
  left: 0; bottom: 300px;
  right: 0; bottom: 150px;
  text-align: center;
}

.lines{
  margin-bottom: 80px;
}

.btn {
  padding: 50px 50px;
  font-size: 20px;
  border-radius: 10px;
  width:20%;
}


#page-wrap {
  position: relative;
  z-index: 2;
  width: 200px;
  height:150px;
  padding: 20px;
  background: white;
  -moz-box-shadow: 0 0 20px black;
  -webkit-box-shadow: 0 0 20px black;
  box-shadow: 0 0 20px black; }

#page-wrapSM {
  position: relative;
  z-index: 2;
  width: 35px;
  height:30px;
  background: white;
  -moz-box-shadow: 0 0 20px black;
  -webkit-box-shadow: 0 0 20px black;
  box-shadow: 0 0 20px black; }

.card {
  padding: 30px;
  background-image: url("../images/BG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 650px;
  background-size: cover;
}

.myText{
  font-size: 12px;
  line-height: 2.2;
}


